@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: rgb(228, 228, 228);
}
header
{
    background: rgb(137, 202, 255);
    display: flex;
    justify-content: space-between;
    color: white;
}
header img
{
    width: 50px;
    border-radius: 50%;

}
.container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.container section
{
    width: 20%;
    background: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 5%;
    transition: 0.3s ease;
    color: black;
}
.container section:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
}